# Default values for licium.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  domain: licium.domain.local
  namespace: licium

security:
  createSecret: true
  apiToken: "change-me-random-token"
  basicAuthUsers: "admin:$apr1$change-me..." # htpasswd

ingressRoute:
  enabled: true

image:
  repository: natorus87
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

imagePullSecrets:
  - name: regcred

nameOverride: ""
fullnameOverride: ""

backend:
  replicaCount: 1
  image:
    name: licium-server
  service:
    type: ClusterIP
    port: 3001
  resources: {}

frontend:
  replicaCount: 1
  image:
    name: licium-client
  service:
    type: ClusterIP
    port: 80
  resources: {}

postgres:
  enabled: true
  image:
    repository: pgvector/pgvector
    tag: pg15
  auth:
    database: licium
    username: user
    password: password
  storage:
    size: 1Gi
  resources: {}

drawio:
  enabled: true
  replicaCount: 1
  image:
    repository: jgraph/drawio
    tag: latest
  service:
    type: ClusterIP
    port: 8080
  resources: 
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"

searxng:
  enabled: true
  replicaCount: 1
  image:
    repository: searxng/searxng
    tag: latest
  secretKey: "randomGeneratedSecretKeyForSearXNG"
  service:
    type: ClusterIP
    port: 8080
  resources: {}
  
whisper:
  enabled: true
  replicaCount: 1
  image:
    repository: fedirz/faster-whisper-server
    tag: latest-cpu
  service:
    type: ClusterIP
    port: 8000
    targetPort: 8000
  env:
  env:
    WHISPER__MODEL: "deepdml/faster-whisper-large-v3-turbo-ct2"
    WHISPER__COMPUTE_TYPE: "int8"
    # WHISPER_LANGUAGE: "" # Dynamic now
  persistence:
    enabled: true
    size: 5Gi
  resources: {}

embeddings:
  enabled: true
  replicaCount: 1
  image:
    repository: ghcr.io/huggingface/text-embeddings-inference
    tag: cpu-1.8
  service:
    type: ClusterIP
    port: 8080
    targetPort: 8080
    name: http
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "2Gi"
      cpu: "1000m"

ingress:
  enabled: true
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # nginx.ingress.kubernetes.io/ssl-redirect: "false"
  hosts:
    - host: licium.domain.local
      paths:
        - path: /
          pathType: Prefix
          service: frontend
          port: 80
        - path: /api
          pathType: Prefix
          service: backend
          port: 3001
        - path: /drawio
          pathType: Prefix
          service: drawio
          port: 8080
        - path: /search
          pathType: Prefix
          service: searxng
          port: 8080
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local
